USE [master]
GO
/****** Object:  Database [ispp3106]    Script Date: 16.10.2025 11:51:15 ******/
CREATE DATABASE [ispp3106]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ispp3106', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp3106.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ispp3106_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp3106_log.ldf' , SIZE = 2816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ispp3106].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ispp3106]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO 
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHall]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHall](
	[HallId] [tinyint] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](50) NOT NULL,
	[RowsCount] [tinyint] NOT NULL,
	[SeatsCount] [tinyint] NOT NULL,
	[IsVip] [bit] NOT NULL,
 CONSTRAINT [PK_CinemaHall] PRIMARY KEY CLUSTERED 
(
	[HallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedCategory]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedCategory](
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DeletedCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedVisitor]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedVisitor](
	[VisitorId] [int] NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[BirthDate] [datetime2](7) NULL,
	[Email] [varchar](150) NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DeletedVisitor] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[FilmId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Duration] [smallint] NOT NULL,
	[ReleaseYear] [smallint] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Poster] [varbinary](max) NULL,
	[AgeLimit] [varchar](10) NULL,
	[RentalStart] [date] NULL,
	[RentalFinish] [date] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmGenre]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmGenre](
	[FilmId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_FilmGenre] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](16, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[KeysAmount] [smallint] NOT NULL,
 CONSTRAINT [PK__Game__2AB897FD9C1E03C4] PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamePrice]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamePrice](
	[GameId] [int] NOT NULL,
	[OldPrice] [decimal](16, 2) NOT NULL,
	[ChangingDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[KeysAmount] [smallint] NOT NULL,
	[SaleDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [int] NOT NULL,
	[HallId] [tinyint] NOT NULL,
	[Price] [decimal](4, 0) NULL,
	[StartDate] [datetime2](7) NULL,
	[IsFilm3d] [bit] NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[VisitorId] [int] NOT NULL,
	[Row] [tinyint] NOT NULL,
	[Seat] [tinyint] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitor]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitor](
	[VisitorId] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[BirthDate] [datetime2](7) NULL,
	[Email] [varchar](150) NULL,
 CONSTRAINT [PK_Visitor] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorEmail]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorEmail](
	[VisitorId] [int] NOT NULL,
	[OldEmail] [varchar](150) NOT NULL,
	[ChangeDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016082528_InitialCreate1', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016082844_AddDescriptionToCategory', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'simulator')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (2, N'Шутер')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'RPG')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHall] ON 

INSERT [dbo].[CinemaHall] ([HallId], [CinemaName], [RowsCount], [SeatsCount], [IsVip]) VALUES (2, N'Макси', 30, 20, 0)
INSERT [dbo].[CinemaHall] ([HallId], [CinemaName], [RowsCount], [SeatsCount], [IsVip]) VALUES (4, N'Макси', 10, 10, 1)
INSERT [dbo].[CinemaHall] ([HallId], [CinemaName], [RowsCount], [SeatsCount], [IsVip]) VALUES (7, N'Титан-Арена', 15, 30, 0)
SET IDENTITY_INSERT [dbo].[CinemaHall] OFF
GO
INSERT [dbo].[DeletedCategory] ([CategoryId], [Name], [DeletedDate], [Login]) VALUES (5, N'рогалик', CAST(N'2025-09-24T11:47:39.3933333' AS DateTime2), N'ispp3106')
INSERT [dbo].[DeletedCategory] ([CategoryId], [Name], [DeletedDate], [Login]) VALUES (6, N'jRPGs', CAST(N'2025-09-24T11:47:12.2266667' AS DateTime2), N'ispp3106')
GO
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email], [DeletedDate], [Login]) VALUES (11, N'7984562362 ', N'Жупел', CAST(N'2004-02-28T00:00:00.0000000' AS DateTime2), N'gerndt@uotlook.gr', CAST(N'2025-09-26T09:18:26.3900000' AS DateTime2), N'ispp3106')
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email], [DeletedDate], [Login]) VALUES (14, N'79330343455', N'Андрейка', CAST(N'2025-10-02T11:23:58.1966667' AS DateTime2), N'andrDog12@gmail.com', CAST(N'2025-10-02T11:24:48.2566667' AS DateTime2), N'ispp3106')
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email], [DeletedDate], [Login]) VALUES (15, N'79330343455', N'Андрейка', CAST(N'2025-10-02T11:25:42.3033333' AS DateTime2), N'andrDog12@gmail.com', CAST(N'2025-10-02T11:25:56.1433333' AS DateTime2), N'ispp3106')
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([FilmId], [Name], [Duration], [ReleaseYear], [Description], [Poster], [AgeLimit], [RentalStart], [RentalFinish], [IsDeleted]) VALUES (1, N'Солнцестояние', 158, 2019, N'Гости праздника становяться жертвами ритуалов.', NULL, N'18', CAST(N'2025-10-15' AS Date), CAST(N'2025-11-20' AS Date), 0)
INSERT [dbo].[Film] ([FilmId], [Name], [Duration], [ReleaseYear], [Description], [Poster], [AgeLimit], [RentalStart], [RentalFinish], [IsDeleted]) VALUES (2, N'Долгая прогулка', 108, 2025, N'Юноша участвует в пешем марафоне, где остановка чревата смертью.', NULL, N'18', CAST(N'2025-09-18' AS Date), CAST(N'2025-10-15' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (1, 3)
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (2, 1)
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDeleted], [KeysAmount]) VALUES (1, 1, N'SimCity', CAST(1501.00 AS Decimal(16, 2)), N'Градостроительный симулятор снова с вами! Создайте город своей мечты', 0, 25)
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDeleted], [KeysAmount]) VALUES (2, 2, N'TITANFALL', CAST(2301.00 AS Decimal(16, 2)), N'Эта игра перенесет вас во вселенную, где малое противопоставляется большому, природа – индустрии, а человек – машине', 0, 88)
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDeleted], [KeysAmount]) VALUES (3, 2, N'Battlefield 4', CAST(901.40 AS Decimal(16, 2)), N'Battlefield 4 – это определяющий для жанра, полный экшена боевик, известный своей разрушаемостью, равных которой нет', 0, 93)
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (5, CAST(951.00 AS Decimal(16, 2)), CAST(N'2025-09-24T11:51:47.4466667' AS DateTime2))
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (5, CAST(961.00 AS Decimal(16, 2)), CAST(N'2025-09-24T11:52:02.8266667' AS DateTime2))
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (6, CAST(1401.00 AS Decimal(16, 2)), CAST(N'2025-09-25T13:15:57.6333333' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (1, N'Триллер')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (2, N'Драма')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (3, N'Ужасы')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleId], [GameId], [KeysAmount], [SaleDate]) VALUES (1, 5, 1, CAST(N'2025-09-25T13:07:34.5233333' AS DateTime2))
INSERT [dbo].[Sale] ([SaleId], [GameId], [KeysAmount], [SaleDate]) VALUES (2, 1, 10, CAST(N'2025-09-25T13:54:49.1766667' AS DateTime2))
INSERT [dbo].[Sale] ([SaleId], [GameId], [KeysAmount], [SaleDate]) VALUES (4, 7, 67, CAST(N'2025-09-25T13:55:13.3200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [IsFilm3d]) VALUES (2, 1, 2, CAST(460 AS Decimal(4, 0)), CAST(N'2025-10-15T17:30:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [IsFilm3d]) VALUES (3, 1, 4, CAST(350 AS Decimal(4, 0)), CAST(N'2025-10-20T19:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [IsFilm3d]) VALUES (4, 2, 2, CAST(450 AS Decimal(4, 0)), CAST(N'2025-09-25T20:10:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (1, 2, 5, 4, 5)
INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (2, 2, 6, 5, 4)
INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (3, 2, 7, 7, 4)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitor] ON 

INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email]) VALUES (5, N'79210843455', N'Валерий', CAST(N'2007-12-02T00:00:00.0000000' AS DateTime2), N'valerka444@mail.ru')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email]) VALUES (6, N'76851457787', N'Лера', CAST(N'2004-08-16T00:00:00.0000000' AS DateTime2), N'jillu@Outlook.com')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [BirthDate], [Email]) VALUES (7, N'79856586124', N'Женя', CAST(N'2005-06-24T00:00:00.0000000' AS DateTime2), N'meowl@outlook.su')
SET IDENTITY_INSERT [dbo].[Visitor] OFF
GO
INSERT [dbo].[VisitorEmail] ([VisitorId], [OldEmail], [ChangeDate]) VALUES (8, N'lexxa888@yandex.ru', CAST(N'2025-09-26T08:48:06.6233333' AS DateTime2))
INSERT [dbo].[VisitorEmail] ([VisitorId], [OldEmail], [ChangeDate]) VALUES (7, N'meowly@outlook.su', CAST(N'2025-09-26T08:48:56.2933333' AS DateTime2))
INSERT [dbo].[VisitorEmail] ([VisitorId], [OldEmail], [ChangeDate]) VALUES (5, N'ferma@gg.ty', CAST(N'2025-09-26T08:49:10.6933333' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CinemaHall]    Script Date: 16.10.2025 11:51:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_CinemaHall] ON [dbo].[CinemaHall]
(
	[CinemaName] ASC,
	[HallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Ticket]    Script Date: 16.10.2025 11:51:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Ticket] ON [dbo].[Ticket]
(
	[SessionId] ASC,
	[Row] ASC,
	[Seat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Visitor]    Script Date: 16.10.2025 11:51:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Visitor] ON [dbo].[Visitor]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CinemaHall] ADD  CONSTRAINT [DF_CinameHall_CinameName]  DEFAULT ('Макси') FOR [CinemaName]
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_DeletedDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[DeletedVisitor] ADD  CONSTRAINT [DF_DeletedVisitor_DeletedDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeletedVisitor] ADD  CONSTRAINT [DF_DeletedVisitor_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_Duration]  DEFAULT ((90)) FOR [Duration]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_ReleaseYear]  DEFAULT (datepart(year,getdate())) FOR [ReleaseYear]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_KeysAmount]  DEFAULT ((50)) FOR [KeysAmount]
GO
ALTER TABLE [dbo].[GamePrice] ADD  CONSTRAINT [DF_GamePrice_ChangingDate]  DEFAULT (getdate()) FOR [ChangingDate]
GO
ALTER TABLE [dbo].[Sale] ADD  CONSTRAINT [DF_Sale_KeysAmount]  DEFAULT ((1)) FOR [KeysAmount]
GO
ALTER TABLE [dbo].[Sale] ADD  CONSTRAINT [DF_Sale_SaleDate]  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Price]  DEFAULT ((200)) FOR [Price]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_DateTime]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[VisitorEmail] ADD  CONSTRAINT [DF_VisitorEmail_ChangeDate]  DEFAULT (getdate()) FOR [ChangeDate]
GO
ALTER TABLE [dbo].[FilmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenre_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FilmGenre] CHECK CONSTRAINT [FK_FilmGenre_Film]
GO
ALTER TABLE [dbo].[FilmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenre_Genre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([GenreId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FilmGenre] CHECK CONSTRAINT [FK_FilmGenre_Genre]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Category]
GO
ALTER TABLE [dbo].[GamePrice]  WITH CHECK ADD  CONSTRAINT [FK_GamePrice_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GamePrice] CHECK CONSTRAINT [FK_GamePrice_Game]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Game]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_CinemaHall] FOREIGN KEY([HallId])
REFERENCES [dbo].[CinemaHall] ([HallId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_CinemaHall]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Film]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Session]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Visitor] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitor] ([VisitorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Visitor]
GO
ALTER TABLE [dbo].[VisitorEmail]  WITH CHECK ADD  CONSTRAINT [FK_VisitorEmail_Visitor] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitor] ([VisitorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VisitorEmail] CHECK CONSTRAINT [FK_VisitorEmail_Visitor]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [CK_CinemaHall_CinemaName] CHECK  (([CinemaName]='Русь' OR [CinemaName]='Титан-Арена' OR [CinemaName]='Макси'))
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [CK_CinemaHall_CinemaName]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [CK_CinemaHall_RowsCount] CHECK  (([RowsCount]>(4) AND [RowsCount]<(31)))
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [CK_CinemaHall_RowsCount]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [CK_CinemaHall_SeatsCount] CHECK  (([SeatsCount]>(4) AND [SeatsCount]<(31)))
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [CK_CinemaHall_SeatsCount]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Row] CHECK  (([Row]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Row]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Seat] CHECK  (([Seat]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Seat]
GO
/****** Object:  Trigger [dbo].[TrSaveCategory]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveCategory]
    ON [dbo].[Category]
    AFTER DELETE
    AS
		INSERT INTO DeletedCategory(CategoryId, [Name], DeletedDate, [Login])
		SELECT CategoryId, [Name], getdate(), ORIGINAL_LOGIN()
		FROM deleted;
GO
ALTER TABLE [dbo].[Category] DISABLE TRIGGER [TrSaveCategory]
GO
/****** Object:  Trigger [dbo].[TrDeleteFilm]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrDeleteFilm]
	ON [dbo].[Film]
	INSTEAD OF DELETE
	AS
		UPDATE Film
		SET IsDeleted = 1
		WHERE FilmId IN(SELECT FilmId
						FROM deleted);
GO
ALTER TABLE [dbo].[Film] DISABLE TRIGGER [TrDeleteFilm]
GO
/****** Object:  Trigger [dbo].[TrChangePrice]    Script Date: 16.10.2025 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrChangePrice]
ON [dbo].[Game]
AFTER UPDATE
AS
  IF UPDATE(Price)
    IF EXISTS (SELECT * 
	           FROM inserted i
			     JOIN deleted d ON i.GameId=d.GameId
			   WHERE i.Price < d.Price)
		THROW 50000, 'Нельзя уменьшать цену', 1;
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrChangePrice]
GO
/****** Object:  Trigger [dbo].[TrDeleteGame]    Script Date: 16.10.2025 11:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrDeleteGame]
	ON [dbo].[Game]
	INSTEAD OF DELETE
	AS
		UPDATE GAME
		SET IsDeleted = 1
		WHERE GameId IN(SELECT GameId
						FROM deleted);
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrDeleteGame]
GO
/****** Object:  Trigger [dbo].[TrGamesRowsCount]    Script Date: 16.10.2025 11:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrGamesRowsCount]
    ON [dbo].[Game]
    AFTER DELETE, INSERT, UPDATE
    AS
		PRINT 'Количество изменённых строк:' + CAST(@@ROWCOUNT AS VARCHAR(10))
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrGamesRowsCount]
GO
/****** Object:  Trigger [dbo].[TrSavePrice]    Script Date: 16.10.2025 11:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*CREATE TRIGGER TrGamesRowsCount
    ON Game
    AFTER DELETE, INSERT, UPDATE
    AS
		PRINT 'Количество изменённых строк:' + CAST(@@ROWCOUNT AS VARCHAR(10))
UPDATE Game
SET Price+=1;
*/

CREATE TRIGGER [dbo].[TrSavePrice]
    ON [dbo].[Game]
    AFTER UPDATE
    AS
	IF UPDATE(Price)
		INSERT INTO GamePrice([GameId],[OldPrice])
		SELECT GameId, Price
		FROM deleted;
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrSavePrice]
GO
/****** Object:  Trigger [dbo].[TrAddSale]    Script Date: 16.10.2025 11:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSale]
ON [dbo].[Sale]
AFTER INSERT
AS
	UPDATE Game
	SET KeysAmount -= inserted.KeysAmount
	FROM Game
		JOIN inserted ON Game.GameId = inserted.GameId;
GO
ALTER TABLE [dbo].[Sale] DISABLE TRIGGER [TrAddSale]
GO
/****** Object:  Trigger [dbo].[TrAddSaleWithCheck]    Script Date: 16.10.2025 11:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSaleWithCheck]
ON [dbo].[Sale]
AFTER INSERT
AS
BEGIN
	-- объявление переменных
	DECLARE @gamesKeys SMALLINT;
	DECLARE @salesKeys SMALLINT;
	-- присваивания значений
	SELECT @gamesKeys = g.KeysAmount, @salesKeys = i.KeysAmount
	FROM Game g JOIN inserted i ON g.GameId = i.GameId;

	IF (@gamesKeys < @salesKeys)
		THROW 50001, 'ключи закончились', 1
	ELSE
		UPDATE Game 
		SET KeysAmount -= inserted.KeysAmount
		FROM Game JOIN inserted ON Game.GameId = inserted.GameId
END;
GO
ALTER TABLE [dbo].[Sale] DISABLE TRIGGER [TrAddSaleWithCheck]
GO
/****** Object:  Trigger [dbo].[TrAddSaleWithCheck2]    Script Date: 16.10.2025 11:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSaleWithCheck2]
ON [dbo].[Sale]
INSTEAD OF INSERT
AS
BEGIN
	-- объявление переменных
	DECLARE @gamesKeys SMALLINT;
	DECLARE @salesKeys SMALLINT;
	-- присваивания значений
	SELECT @gamesKeys = g.KeysAmount, @salesKeys = i.KeysAmount
	FROM Game g JOIN inserted i ON g.GameId = i.GameId;

	IF (@gamesKeys < @salesKeys)
		THROW 50001, 'ключи закончились', 1
	ELSE
	BEGIN
		INSERT INTO Sale(GameId, KeysAmount)
		SELECT GameId, KeysAmount
		FROM inserted;

		UPDATE Game 
		SET KeysAmount -= inserted.KeysAmount
		FROM Game JOIN inserted ON Game.GameId = inserted.GameId
	END;
END;
GO
ALTER TABLE [dbo].[Sale] ENABLE TRIGGER [TrAddSaleWithCheck2]
GO
/****** Object:  Trigger [dbo].[TrAddSessionPrice]    Script Date: 16.10.2025 11:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSessionPrice]
ON [dbo].[Session]
INSTEAD OF INSERT
AS
BEGIN
	DECLARE @newPrice decimal(4,0)
	SET @newPrice=(SELECT Price
				   FROM inserted);
	IF (@newPrice<100)
		INSERT INTO [Session](FilmId, HallId, Price, StartDate, IsFilm3d)
		SELECT FilmId, HallId, 100, StartDate, IsFilm3d
		FROM inserted;
END;
GO
ALTER TABLE [dbo].[Session] ENABLE TRIGGER [TrAddSessionPrice]
GO
/****** Object:  Trigger [dbo].[TrAddTicket]    Script Date: 16.10.2025 11:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddTicket]
ON [dbo].[Ticket]
INSTEAD OF INSERT
AS
BEGIN
	DECLARE @ticketRow tinyint
	DECLARE @ticketSeat tinyint
	DECLARE @maxRow tinyint
	DECLARE @maxSeat tinyint

	SELECT @ticketRow = i.[Row], @ticketSeat = i.Seat
	FROM inserted i;

	SELECT @maxRow = h.RowsCount, @maxSeat = h.SeatsCount
	FROM CinemaHall h 
		JOIN [Session] s ON s.HallId = h.HallId
		JOIN Ticket t ON t.SessionId = s.SessionId
	IF (@ticketRow > @maxRow OR @ticketSeat > @maxSeat)
		THROW 50000, 'Номер ряда или места выше допустимого', 1
END;
GO
ALTER TABLE [dbo].[Ticket] DISABLE TRIGGER [TrAddTicket]
GO
/****** Object:  Trigger [dbo].[TrSaveEmail]    Script Date: 16.10.2025 11:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveEmail]
    ON [dbo].[Visitor]
    AFTER UPDATE
    AS
		IF UPDATE(Email)
			INSERT INTO VisitorEmail(VisitorId, OldEmail)
			SELECT VisitorId, Email
			FROM deleted;
GO
ALTER TABLE [dbo].[Visitor] DISABLE TRIGGER [TrSaveEmail]
GO
/****** Object:  Trigger [dbo].[TrSaveVisitor]    Script Date: 16.10.2025 11:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveVisitor]
    ON [dbo].[Visitor]
    AFTER DELETE
    AS
		INSERT INTO DeletedVisitor(VisitorId, Phone, [Name], BirthDate, Email)
		SELECT VisitorId, Phone, [Name], BirthDate, Email
		FROM deleted;
GO
ALTER TABLE [dbo].[Visitor] DISABLE TRIGGER [TrSaveVisitor]
GO
USE [master]
GO
